<%- include('../partials/header') %>

<br>

<% if (teams.length) { %>
    <table id="list">
        <thead id="team-name">
            <tr>
                <th>Team Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="team-body">
            <% teams.forEach(function(t) { %>
                <% if (user?._id.equals(t.user)) { %>
                <tr>
        <td id="test"><%= t.name %></td>
        <td id="test"><a href="/teams/<%= t._id %>">Details</a></td>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
    <h5>No Teams Yet</h5>
<% } %>
<br><br>
<% if (user) { %>
    <button onclick="window.location.href = '/teams/new';">Add Team</button>
<% } %>
  

<%- include('../partials/footer') %>
