<%- include('./partials/header') %>

<h2>Welcome!</h2>
<p>Please Log In using your Google Account</p>
<br>
<p>Once you are in, you can add your roster and keep others up to date on your League Standings!</p>
<br>
<p>Thank you, and... Best of Luck!</p>

<%- include('./partials/footer') %>