<%- include('../partials/header') %>

<table>
    <thead>
    <tr>
        <th>Team Name</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Team</td>
        <td>Win Total</td>
        <td>Loss Total</td>
    </tr>
    </tbody>
</table>

<%- include('../partials/footer') %>